<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.archive.autodetection">none</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">zooePass</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/zooe</property>
        <property name="hibernate.connection.username">zooe</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.ejb.persistenceUnitName">Zooe</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="br.com.wideSolutions.zooe.bo.Cotadas" />
        <mapping class="br.com.wideSolutions.zooe.bo.Loteria" />
        <mapping class="br.com.wideSolutions.zooe.bo.Participacoes" />
        <mapping class="br.com.wideSolutions.zooe.bo.Recolhe" />
        <mapping class="br.com.wideSolutions.zooe.bo.Cotacoes" />
        <mapping class="br.com.wideSolutions.zooe.bo.DesdobramentoJogo" />
        <mapping class="br.com.wideSolutions.zooe.bo.AluguelAjuda" />
        <mapping class="br.com.wideSolutions.zooe.bo.Cambista" />
        <mapping class="br.com.wideSolutions.zooe.bo.Resultado" />
        <mapping class="br.com.wideSolutions.zooe.bo.Descarga" />
        <mapping class="br.com.wideSolutions.zooe.bo.Loterias" />
        <mapping class="br.com.wideSolutions.zooe.bo.Configuracao" />
        <mapping class="br.com.wideSolutions.zooe.bo.TipoJogo" />
        <mapping class="br.com.wideSolutions.zooe.bo.Jogo" />
        <mapping class="br.com.wideSolutions.zooe.bo.Colocacao" />
        <mapping class="br.com.wideSolutions.zooe.bo.Periodicidadecomissao" />
        <mapping class="br.com.wideSolutions.zooe.bo.Mobile" />
        <mapping class="br.com.wideSolutions.zooe.bo.Cidade" />
        <mapping class="br.com.wideSolutions.zooe.bo.Pessoa" />
        <mapping class="br.com.wideSolutions.zooe.bo.Regiao" />
    </session-factory>
</hibernate-configuration>
